* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* FOR MAIN GRID */
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 3fr;
  outline: 1px solid black;
}

/* FOR HEADER */

.head {
  background-color: red;
  grid-area: 1/2/2/3;
}

/* FOR SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8vh;

  padding: 4vh 0 0 5vh;

  background-color: blue;
  grid-area: 1/1/3/2;
}

.sidebar img {
  width: 35px;
  filter: invert(100%) sepia(1%) saturate(7498%) hue-rotate(106deg)
    brightness(104%) contrast(101%);
}

.dashboard {
  display: flex;
  align-items: center;
}

.main-features div {
  display: flex;
  align-items: center;
}

/* FOR MAIN CONTENT */

.main-content {
  background-color: gray;
}
