* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
}

/* FOR MAIN GRID */
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 3fr;
  outline: 1px solid black;
}

/* FOR HEADER */

.head {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);

  z-index: 2;
  grid-area: 1/2/2/3;

  display: grid;
  grid-template-rows: 1fr 1fr;

  font-weight: bold;
}

.head p {
  font-size: 1.2rem;
}

/*  FOR SEARCH BAR SECTION IN HEADER */
.search-bar-section {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw 0 2vw;
  gap: 10vw;
}

.search-bar-section img {
  width: 45px;
}
.search-bar-section .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
#search-bar-actual {
  width: 40vw;
}

.search-bar-section .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

input[type="search"] {
  font-size: 1rem;
  padding: 5px 8px;
  border-radius: 10px;
  background-color: gray;
  outline: none;
  border: 1px solid white;
}

/* FOR PROFILE-SECTION HEADER */

.pfp {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.profile-section .left {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.profile-section {
  display: flex;
  justify-content: space-around;
  gap: 20vw;
}

.profile-section .right {
  display: flex;
  gap: 1.5vw;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #1992d4;
  text-align: center;
  width: 7vw;
  padding: 10px 15px;
  border-radius: 15px;
}

.profile-info p:first-child {
  font-size: 1rem;
}
/* FOR SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8vh;

  padding: 4vh 0 0 5vh;

  background-color: #1992d4;
  color: white;
  grid-area: 1/1/3/2;
}

.sidebar img {
  width: 35px;
  filter: invert(100%) sepia(1%) saturate(7498%) hue-rotate(106deg)
    brightness(104%) contrast(101%);
  margin-right: 1.5vh;
}

.dashboard {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.main-features div,
.options div {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 0.5vw;
}

.main-features,
.options {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
/* FOR MAIN CONTENT */

.main-content {
  background-color: #e2e8f0;
  display: flex;
}

.left-main {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.right-section {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
